<div class="container">
	<h2 class="mypage-edit-midasi">
		マイページ<br>
		EDIT
	</h2>
	<div class="row mypage-edit-row">
		<div class="col-md-8 mypage-edit">
			<%= form_for(@user) do |f| %>
				<div class="mypage-profile-image">
					<%= f.attachment_field :profile_image  %>
				</div>
				<div class="mypage-edit-name">
					<h4 class="mypage-edit-name-title">USER名</h4>
					<div class="mypage-edit-username">
				    	<%= f.text_field :username %>
					</div>
				</div>
				<div class="mypage-edit-introduction">
				    <h4 class="mypage-edit-introduction-title">マイプロフィール</h4>
				    <div class="mypage-edit-introduction-field">
				    	<%= f.text_field :introduction %>
					</div>
				</div>
				<div class="mypage-edit-up">
				    <%= f.submit "UP", class: "btn btn-primary" %>
				</div>
		    <% end %>
    	</div>
	</div>
</div>