<div class="container">
	<h2 class="mypage-edit-midasi">
		マイページ<br>
		EDIT
	</h2>
	<div class="row mypage-edit-row">
		<%= form_for(@user) do |f| %>
			<div class="col-md-4 mypage-edit-image">
				<div class="mypage-profile-image">
					<%= f.attachment_field :profile_image  %>
				</div>
			</div>
			<div class="col-md-8 mypage-edit-option-edit">
				<div class="mypage-edit-name">
					<h3 class="mypage-edit-name-title">USER名</h3>
					<div class="mypage-edit-username">
				    	<%= f.text_field :username %>
					</div>
				</div>
				<div class="mypage-edit-introduction">
				    <h4 class="mypage-edit-introduction-title">マイプロフィール</h4>
				    <div class="mypage-edit-introduction-field">
				    	<%= f.text_area :introduction %>
					</div>
				</div>
				<div class="mypage-edit-up">
				    <%= f.submit "UP", class: "btn btn-primary" %>
				</div>
    		</div>
    	<% end %>
	</div>
</div>