<div class="mypage-main clearfix">
	<div class="mypage-main-user clearfix">
		<h3 class="mypage-main-user-title">マイプロフィール</h3>
		<div class="mypage-main-user-option">
			<div class="mypage-main-user-option2">
				<div class="mypage-main-user-option-username">
					<span><%= @user.username %></span>
				</div>
				<div class="mypage-main-user-option-image">
					<span><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "/images/no_image.jpg", size: "200x200" %></span>
				</div>
				<div class="mypage-main-user-option-email">
					<span><%= @user.email %></span>
				</div>
			</div>
		</div>
		<div class="mypage-main-user-introduction ">
			<span class="mypage-main-user-introduction-introduction">
				<%= @user.introduction %>
			</span>
		</div>
	</div>

	<hr>

	<div class="mypage-main-posts clearfix">
		<div class="mypage-posts-index">
			<h3 class="mypage-posts-index-title">投稿一覧</h3>
			<div class="mypage-posts-index-image">
				<% @post.each do |post| %>
					<%= link_to post_path(post.id) do %>
						<% if post.images.attached? %>
					    <%= image_tag post.images.first, size: "180x180" %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="mypage-main-follow">
			<div class="mypage-main-follow-index">
				<div class="mypage-main-follow-index-tilte">
					<% if user_signed_in? %>
						<%= render 'follow_form'  %>
					<% end %>
					<section class="stats">
	  					<%= render 'users/stats' %>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>










