<div class="clearfix">
	<div class="post-show-main">
		<table class="post-show-main-table1">
			<tbody class="post-show-main-table1-tbody">
				<tr class="post-show-main-table1-tbody-tr">
					<td class="post-show-main-table1-tbody-td1">
						<%= link_to user_path(@post.user_id) do %>
						<div class="post-show-main-profile_image">
							<%= attachment_image_tag @post.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "80x80" %>
						</div>
						<div class="post-show-main-username">
							<%= @post.user.username %>
						</div>
						<% end %>
					</td>
					<td class="post-show-main-table1-tbody-td3">
						<div class="post-show-main-title">
							<h1 class="post-show-main-title-h2"><%= @post.title %></h1>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="post-show-main-created_at">
			<small><%= @post.created_at.strftime('%Y/%m/%d') %></small>
		</div>

		<div class="post-show-main-images">
			<% if @post.images.attached? %>
				<%= image_tag @post, size: "260x260"  %> <br>
			<% end %>
		</div>
		<table class="post-show-main-table2">
			<tbody class="post-show-main-table2-tbody">
				<tr>
					<td class="post-show-main-table2-tbody-td1">
						フォローbtn
					</td>
					<td rowspan="3">
						<div class="post-show-main-posted_details">
							<%= @post.posted_details %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<p class="post-show-main-genre-p"> --ジャンル-- </p>
						<div class="post-show-main-genre">
							<%= @post.genre %>
						</div>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<p class="post-show-main-location-p"> --活動場所-- </p>
						<div class="post-show-main-location">
							<%= @post.location %>
						</div>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<div class="post-show-main-favorits">
			<% if current_user.already_favorited?(@post) %>
			  <ruby><%= button_to '⭐️', post_favorite_path(@post.id), method: :delete, class: "btn btn-lg btn-base-1 mt-20 pull-right post-show-main-favorit-1 suter"%><rt><%= @post.favorited_users.count %></rt></ruby>
			<% else %>
			  <ruby><%= button_to '☆', post_favorites_path(@post.id), class: "btn btn-lg btn-base-1 mt-20 pull-right post-show-main-favorit-1"%><rt><%= @post.favorited_users.count %></rt></ruby>
			<% end %>
		</div>
	</div>

	<div class="post-show-comments clearfix">
		<div><h3 class="post-show-comments-title"> コメント・質問 </h3></div>
		<div class="post-show-comments-main">
			<% @post.comments.each do |c| %>
			<div class="post-show-comments-main-comment">
				<%= attachment_image_tag c.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
				<%= c.comment %>
				
				<%= link_to "削除", post_comment_path(c.id), method: :delete,"data-confirm" => "本当に消しますか？" %>
				
			</div><br>
			<% end %>
		</div>
			<div class="sousinbotan">
				<%= form_for [@post, @comment] do |f| %>
					<div class="row">
						<div class="col-sm-12">
							<%= f.hidden_field :post_id %>
							<%= f.text_area :comment, class: "form-control comment-sousin",placeholder: "質問・コメントをここに" %>
						</div>
					</div>
					<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				<% end %>
			</div>
	</div>
</div>



<% if @post.images.attached? %>
						<%= image_tag @post.images.first, size: "250x250"  %> <br>
					<% end %>




